.footerCustom {
  background-color: var(--nav-footer-bg-color) !important;
}

.customBottomm {
  display: flex;
  min-height: 80px;
  justify-content: center;
  align-items: center;
  position: relative !important;
}