:root {
  --nav-footer-bg-color: rgb(240, 240, 240);
  --main-bg-color: #f8f8f8;
  --nav-hover-color: rgb(102, 102, 102)
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}